<!DOCTYPE html>

<head>
  <!-- Add Metadata -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
  <div class="page-container">
    <%- include('../partials/_header'); %>

    <div class="container">
      <h1>
        <%= author.name %>
      </h1>
      <ul>
        <% stories.forEach(story => { %>
        <li>
          <a href="/authors/<%= author.link %>/<%= story.link %>">
            <%= story.name %>
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>

  <script src="" async defer></script>
</body>

</html>