<!DOCTYPE html>

<head>
  <!-- Add Metadata -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
  <div class="page-container">
    <%- include('../partials/_header'); %>

    <div class="container">
      <ul class="author-list">
        <% authors.forEach(author => { %>
        <li>
          <a href="/authors/<%= author.link %>">
            <h3>
              <%= author.name %>
            </h3>
          </a>

          <ul>
            <% author.stories.forEach(story => { %>
            <li>
              <a href="/authors/<%= author.link %>/<%= story.link %>">
                <%= story.name %>
              </a>
            </li>
            <% }); %>
          </ul>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>

  <script src="" async defer></script>
</body>

</html>