<!DOCTYPE html>

<head>
  <!-- Add Metadata -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
  <div class="page-container">
    <%- include('../partials/_header'); %>

    <div class="container">
      <article>
        <div class="story-info">
          <h1 class="story-title">
            <%= metadata.title %>
          </h1>
          <h4 class="author">
            <%= metadata.author %>
          </h4>
          <span class="tiny">
            <%= metadata.published %>
          </span>
        </div>

        <!-- <div class="story-container"> -->
        <% paragraphs.forEach(paragraph => { %>
        <% if (paragraph !== '') { %>
        <p>
          <%= paragraph %>
        </p>
        <% } %>
        <% }) %>
        <!-- </div> -->
      </article>
    </div>
  </div>

  <script src="/assets/scripts.js"></script>
</body>

</html>